# Pandasæ•°æ®æ¡†æ“ä½œåŠæ•°æ®æå–  

åœ¨å¿ƒç†å­¦ç ”ç©¶ä¸­ï¼Œæˆ‘ä»¬çš„å®éªŒç»“æœç»å¸¸ä»¥è¡¨æ ¼çš„å½¢å¼å›æ”¶ï¼Œå› æ­¤æˆ‘ä»¬çš„å¤„ç†å¯¹è±¡ä¹Ÿé€šå¸¸æ˜¯æ•°æ®æ¡†(dataframe)ï¼Œåœ¨pythonä¸­ï¼Œæˆ‘ä»¬é€šå¸¸ä½¿ç”¨pandasè¿™ä¸ªåº“ä¸­çš„ä¸€äº›å‡½æ•°æ¥å¯¹æ•°æ®æ¡†è¿›è¡Œå¤„ç†ã€‚  

ğŸˆåœ¨æœ¬èŠ‚ä¸­ï¼Œæˆ‘ä»¬å…³æ³¨å¦‚ä½•è¯»å–æ•°æ®æ¡†ï¼Œä»¥åŠæ•°æ®æ¡†ä¸­è¡Œåˆ—çš„æå–ã€‚

In [1]:
#å¯¼åŒ…
import pandas as pd
import numpy as np

## é€šè¿‡å­—å…¸æ¥åˆ›å»ºDataFrame  

é¦–å…ˆï¼Œæˆ‘ä»¬æ‰‹åŠ¨åˆ›å»ºä¸€ä¸ªç®€å•çš„æ•°æ®æ¡†ï¼Œä¸€åˆ—ä¸ºè¢«è¯•å§“åï¼Œä¸€åˆ—ä¸ºå¹´é¾„ï¼Œä¸€åˆ—ä¸ºå¿«ä¹å¾—åˆ†

In [2]:
data = {"subID":['tom', 'jerry', 'elsa', 'white', 'kim', 'greg', 'alice', 'yeri', 'mary', 'david'],
       "age":[26, 20, 26, 24, 22, 25, 28, 20, 30, 24], 
       "happiness":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}
df_handy = pd.DataFrame(data)
df_handy

   subID  age  happiness
0    tom   26          4
1  jerry   20          2
2   elsa   26          6
3  white   24          2
4    kim   22          1
5   greg   25          2
6  alice   28          2
7   yeri   20          3
8   mary   30          3
9  david   24          6

## ä½¿ç”¨è¯»å–ç‰¹å®šæ–‡ä»¶çš„æ–¹å¼æ¥è·å–æ•°æ®æ¡†  

ä½†æ›´å¤šæ—¶å€™ï¼Œæˆ‘ä»¬çš„æ•°æ®é€šå¸¸éƒ½ä»¥xlxsï¼Œcsvçš„å½¢å¼å­˜åœ¨excelè¡¨ä¸­ï¼Œå› æ­¤æˆ‘ä»¬éœ€è¦è¯»å–è¿™äº›æ–‡ä»¶ï¼Œä¾‹å¦‚æˆ‘ä»¬è¯»å–â€œpandas120.xlsxâ€è¿™ä¸ªæ–‡ä»¶  

ï¼ˆæ³¨ï¼šä¸åŒçš„æ–‡ä»¶æ ¼å¼æœ‰å„è‡ªå¯¹åº”çš„è¯»å–å‡½æ•°ï¼Œå¤§å®¶å¯ä»¥è‡ªè¡Œæœç´¢ï¼‰

In [3]:
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k

# Dataframe çš„ç´¢å¼•æ“ä½œ

## è®¾ç½®ç´¢å¼•  
åœ¨ Pandas ä¸­ï¼ŒDataFrame æ˜¯ä¸€ä¸ªäºŒç»´çš„ã€å¸¦æœ‰è¡Œå’Œåˆ—æ ‡ç­¾çš„è¡¨æ ¼æ•°æ®ç»“æ„ã€‚åˆ—æ ‡ç­¾å³æ˜¯å¸¸è§çš„åˆ—åï¼Œåœ¨ DataFrame ä¸­ï¼Œå¯ä»¥é€šè¿‡è®¾ç½®ç´¢å¼•æ¥æŒ‡å®šè¡Œçš„æ ‡ç­¾ã€‚è¿™æ ·å¯ä»¥æ›´æ–¹ä¾¿åœ°è®¿é—®ã€æ“ä½œå’Œåˆ†ææ•°æ®

æˆ‘ä»¬å…ˆæŸ¥çœ‹df_handyè¿™ä¸ªæ•°æ®æ¡†ï¼Œæ­¤æ—¶æˆ‘ä»¬éš¾ä»¥é€šè¿‡è¡Œæ ‡ç­¾æ¥å¯¹è¡Œè¿›è¡Œç´¢å¼•

In [4]:
df_handy

   subID  age  happiness
0    tom   26          4
1  jerry   20          2
2   elsa   26          6
3  white   24          2
4    kim   22          1
5   greg   25          2
6  alice   28          2
7   yeri   20          3
8   mary   30          3
9  david   24          6

æˆ‘ä»¬å°†â€˜subIDâ€™è®¾ç½®æˆç´¢å¼•åˆ—

In [5]:
df_handy = df_handy.set_index('subID')
df_handy

       age  happiness
subID
tom     26          4
jerry   20          2
elsa    26          6
white   24          2
kim     22          1
greg    25          2
alice   28          2
yeri    20          3
mary    30          3
david   24          6

## é‡ç½®ç´¢å¼•(è¡Œå·)  
é‡ç½®ç´¢å¼•ï¼Œå³å°†ç´¢å¼•åˆ—è½¬åŒ–ä¸ºæ™®é€šåˆ—

In [6]:
# åœ¨reset_indexä¸­ï¼Œé»˜è®¤drop = Falseï¼Œå¦‚æœdrop = Trueï¼šåŸæœ‰ç´¢å¼•å°±ä¸ä¼šæˆä¸ºæ–°çš„åˆ—
df_handy = df_handy.reset_index() 
df_handy

   subID  age  happiness
0    tom   26          4
1  jerry   20          2
2   elsa   26          6
3  white   24          2
4    kim   22          1
5   greg   25          2
6  alice   28          2
7   yeri   20          3
8   mary   30          3
9  david   24          6

# æ•°æ®æå–  

åœ¨å¤„ç†æ•°æ®æ—¶ï¼Œæˆ‘ä»¬ç»å¸¸éœ€è¦æå–ç¬¦åˆç‰¹å®šæ¡ä»¶çš„æ•°æ®ï¼Œæˆ‘ä»¬å¯ä»¥é€šè¿‡loc, iloc, ä»¥åŠå¸ƒå°”å€¼æ¥æå–æ•°æ®  

æˆ‘ä»¬ä»¥åˆšåˆšçš„dfè¿™ä¸ªæ•°æ®é›†ä¸ºä¾‹ï¼Œæ¥ç»ƒä¹ æ•°æ®æå–çš„æ–¹æ³•  

> å…³äºæ•°æ®æå–çš„æ›´å¤šå†…å®¹å¯å‚è€ƒï¼šhttps://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html  
> å…³äºlocä¸ilocç”¨æ³•åŒºåˆ«çš„æ›´å¤šæ–‡å­—ä»‹ç»ï¼š  
https://blog.csdn.net/RPG_Zero/article/details/109190053  
https://blog.csdn.net/Bigboss7/article/details/118597351

## loc ç”¨æ³•

In [7]:
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df

             createTime education   salary
0   2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1   2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2   2020-03-16 10:46:39        ä¸é™  20k-35k
3   2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4   2020-03-16 10:20:41        æœ¬ç§‘  10k-20k
..                  ...       ...      ...
130 2020-03-16 11:36:07        æœ¬ç§‘  10k-18k
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k
132 2020-03-16 10:48:32        æœ¬ç§‘  20k-40k
133 2020-03-16 10:46:31        æœ¬ç§‘  15k-23k
134 2020-03-16 11:19:38        æœ¬ç§‘  20k-40k

[135 rows x 3 columns]

In [8]:
#è¡Œæ ‡ç­¾ä¸ºâ€œ1â€çš„è¡Œï¼Œè¡Œæ ‡ç­¾æŒ‡çš„æ˜¯ç¬¬ä¸€åˆ—ä¸º012345...çš„è¡Œ
df.loc[1]
#ä¹Ÿå¯ä»¥è¿™ä¹ˆå†™ï¼š
#data.loc[1] == data.loc[1,:]

createTime    2020-03-16 10:58:48
education                      æœ¬ç§‘
salary                    20k-40k
Name: 1, dtype: object

In [9]:
#è¡Œæ ‡ç­¾ä¸ºâ€œ1â€ï¼Œâ€œ2â€ï¼Œâ€œ5â€ï¼Œâ€œ6â€çš„è¡Œ
df.loc[[1,2,5,6]]

           createTime education   salary
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
5 2020-03-16 10:33:48        æœ¬ç§‘  10k-18k
6 2020-03-16 10:11:54        ç¡•å£«  16k-30k

In [10]:
#é€‰å–â€œeducationâ€åˆ—
df["education"]

0      æœ¬ç§‘
1      æœ¬ç§‘
2      ä¸é™
3      æœ¬ç§‘
4      æœ¬ç§‘
       ..
130    æœ¬ç§‘
131    ç¡•å£«
132    æœ¬ç§‘
133    æœ¬ç§‘
134    æœ¬ç§‘
Name: education, Length: 135, dtype: object

In [11]:
#è¯»å–æ ‡ç­¾ä¸ºâ€œ1â€çš„è¡Œï¼Œâ€œcol1â€åˆ—å¯¹åº”çš„å€¼
df.loc[1,"education"]

'æœ¬ç§‘'

In [12]:
#ä½¿ç”¨åˆ‡ç‰‡ï¼Œè¯»å–æŸä¸ªåŒºåŸŸ
df.loc[1:3, "createTime":"salary"]

           createTime education   salary
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k

* é™¤äº†ä½¿ç”¨æ•°å­—å’Œåˆ—åï¼Œä¹Ÿå¯ä»¥ä½¿ç”¨æ¡ä»¶ï¼ˆå¸ƒå°”å€¼=Trueï¼‰å¯¹è¡Œåˆ—è¿›è¡Œé€‰å–

In [13]:
#è¿è¡Œä¸‹é¢çš„ä»£ç ï¼Œä¼šå‘ç°è¿”å›çš„æ˜¯ä¸€ç³»åˆ—Trueæˆ–Falseå€¼ï¼Œåœ¨locä¸­ï¼Œä¼šè¿”å›é‚£äº›åˆ¤æ–­ä¸ºTrueçš„è¡Œ
#df["education"] == 'æœ¬ç§‘'

In [14]:
df.loc[df["education"] == 'æœ¬ç§‘']

             createTime education   salary
0   2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1   2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
3   2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4   2020-03-16 10:20:41        æœ¬ç§‘  10k-20k
5   2020-03-16 10:33:48        æœ¬ç§‘  10k-18k
..                  ...       ...      ...
129 2020-03-16 09:46:26        æœ¬ç§‘  15k-25k
130 2020-03-16 11:36:07        æœ¬ç§‘  10k-18k
132 2020-03-16 10:48:32        æœ¬ç§‘  20k-40k
133 2020-03-16 10:46:31        æœ¬ç§‘  15k-23k
134 2020-03-16 11:19:38        æœ¬ç§‘  20k-40k

[119 rows x 3 columns]

## ilocç”¨æ³•

In [15]:
#åœ¨ilocä¸­ï¼Œå–å€¼æˆ–åˆ‡ç‰‡éƒ½æ˜¯ä»0å¼€å§‹ï¼Œå·¦é—­å³å¼€åŒºé—´
#ç¬¬äºŒè¡Œ
df.iloc[1]

createTime    2020-03-16 10:58:48
education                      æœ¬ç§‘
salary                    20k-40k
Name: 1, dtype: object

In [16]:
df.iloc[[1,2,5,6]]

           createTime education   salary
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
5 2020-03-16 10:33:48        æœ¬ç§‘  10k-18k
6 2020-03-16 10:11:54        ç¡•å£«  16k-30k

In [17]:
#ç¬¬ä¸‰åˆ—
df.iloc[:,2]

0      20k-35k
1      20k-40k
2      20k-35k
3      13k-20k
4      10k-20k
        ...
130    10k-18k
131    25k-50k
132    20k-40k
133    15k-23k
134    20k-40k
Name: salary, Length: 135, dtype: object

In [18]:
#ç¬¬äºŒè¡Œç¬¬äºŒåˆ—çš„æ•°å€¼
df.iloc[1,1]

'æœ¬ç§‘'

In [19]:
#åˆ‡ç‰‡æ“ä½œ
#å¯ä»¥å¯¹æ¯”ä¸€ä¸‹åœ¨df.locå’Œdf.ilocä¸­[1:3]æ‰€å–åˆ°çš„è¡Œï¼Œå†æ¬¡æ„Ÿå—ä¸€ä¸‹äºŒè€…å·®å¼‚
df.iloc[1:3,0:2]
#df.loc[1:3, "createTime":"salary"]

           createTime education
1 2020-03-16 10:58:48        æœ¬ç§‘
2 2020-03-16 10:46:39        ä¸é™

In [20]:
#ilocä¸èƒ½ç›´æ¥ä½¿ç”¨å¸ƒå°”å€¼
#df.iloc[df['education']=="æœ¬ç§‘"]

## ç›´æ¥ä½¿ç”¨å¸ƒå°”å€¼æ¥æå–ç¬¦åˆç‰¹å®šæ¡ä»¶çš„æ•°æ®

In [21]:
#ç”Ÿæˆä¸€åˆ—æ–°çš„åä¸ºâ€œvalueâ€çš„åˆ—
import random
df['value'] = [random.randint(1,100) for i in range(len(df))]
df.head()

           createTime education   salary  value
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k     26
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k     86
2 2020-03-16 10:46:39        ä¸é™  20k-35k     96
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k     76
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k     58

In [22]:
df[df['value'] > 90]

             createTime education   salary  value
2   2020-03-16 10:46:39        ä¸é™  20k-35k     96
12  2020-03-16 11:30:17        æœ¬ç§‘  20k-40k     96
22  2020-03-16 11:30:15        æœ¬ç§‘  15k-25k     98
27  2020-03-16 11:04:49        æœ¬ç§‘  20k-40k     94
29  2020-03-16 10:27:11        æœ¬ç§‘  15k-20k     96
35  2020-03-13 18:01:31        æœ¬ç§‘  12k-20k     96
39  2020-03-16 11:35:36        æœ¬ç§‘  25k-35k     95
45  2020-03-16 11:01:58        ä¸é™  25k-35k     98
57  2020-03-16 10:57:55        æœ¬ç§‘  15k-25k    100
59  2020-03-16 10:46:50        æœ¬ç§‘  15k-30k     92
62  2020-03-16 10:41:20        æœ¬ç§‘  30k-40k     91
64  2020-03-16 10:59:08        æœ¬ç§‘   8k-16k     97
69  2020-03-16 10:26:23        æœ¬ç§‘  10k-20k     99
80  2020-03-16 11:30:09        æœ¬ç§‘  15k-20k     98
89  2020-03-16 10:45:44        æœ¬ç§‘   9k-13k     96
96  2020-03-16 10:44:23        ä¸é™    3k-4k     92
114 2020-03-16 10:43:46        æœ¬ç§‘  10k-18k     99
117 2020-03-16 11:19:36        æœ¬ç§‘  20k-40k     95
125 2020-03-16 11:13:50        æœ¬ç§‘  10k-15k     95
129 2020-03-16 09:46:26        æœ¬ç§‘  15k-25k     97
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k    100

In [23]:
df[(df['value'] > 60) & (df['value'] < 70)]

             createTime education   salary  value
5   2020-03-16 10:33:48        æœ¬ç§‘  10k-18k     62
30  2020-03-16 10:43:58        ç¡•å£«  15k-30k     62
98  2020-03-16 11:19:03        æœ¬ç§‘  10k-18k     68
103 2020-03-16 11:21:24        æœ¬ç§‘  12k-20k     69
118 2020-03-16 11:19:38        æœ¬ç§‘  20k-40k     69

In [24]:
df[df['value'] == df['value'].max()]

             createTime education   salary  value
57  2020-03-16 10:57:55        æœ¬ç§‘  15k-25k    100
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k    100

# å…¶ä»–æå–æ“ä½œ(ç‰¹æ®Šæ¡ä»¶)

## æå–educationåˆ—æ•°å€¼ç±»å‹ä¸æ˜¯å­—ç¬¦ä¸²çš„è¡Œ

In [25]:
temp = pd.DataFrame()
for i in range(len(df)):
    if type(df['education'][i]) != str: #df['xxx'][i]æˆ–å†™æˆdf.iloc[i,j]
        temp = temp.append(df.loc[i])
temp

Empty DataFrame
Columns: []
Index: []

## æå–educationåˆ—åŒ…å«å­—ç¬¦ä¸²('ç¡•å£«')çš„è¡Œ

In [26]:
# æ–¹æ³•ä¸€ï¼š
df[df['education'] == 'ç¡•å£«']
 
# æ–¹æ³•äºŒï¼š
df['education'].str.contains('ç¡•å£«')

# æ–¹æ³•ä¸‰
df[df['education'].isin(['ç¡•å£«'])]

             createTime education   salary  value
6   2020-03-16 10:11:54        ç¡•å£«  16k-30k     12
15  2020-03-16 10:52:14        ç¡•å£«  10k-15k      1
30  2020-03-16 10:43:58        ç¡•å£«  15k-30k     62
32  2020-03-16 10:07:25        ç¡•å£«  15k-30k     11
91  2020-03-16 10:27:10        ç¡•å£«  12k-16k     22
127 2020-03-16 09:44:05        ç¡•å£«  10k-15k     29
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k    100

## æå–å­¦å†ä¸ºæœ¬ç§‘å’Œç¡•å£«çš„æ•°æ®ï¼Œåªæ˜¾ç¤ºå­¦å†å’Œè–ªèµ„ä¸¤åˆ—

In [27]:
# æ–¹æ³•ä¸€ï¼šisin()
df[df['education'].isin(['æœ¬ç§‘', 'ç¡•å£«'])] [['education', 'salary']]

# æ–¹æ³•äºŒï¼šlocæå–
df.loc[df['education'].isin(['æœ¬ç§‘', 'ç¡•å£«']), ['education', 'salary']]

    education   salary
0          æœ¬ç§‘  20k-35k
1          æœ¬ç§‘  20k-40k
3          æœ¬ç§‘  13k-20k
4          æœ¬ç§‘  10k-20k
5          æœ¬ç§‘  10k-18k
..        ...      ...
130        æœ¬ç§‘  10k-18k
131        ç¡•å£«  25k-50k
132        æœ¬ç§‘  20k-40k
133        æœ¬ç§‘  15k-23k
134        æœ¬ç§‘  20k-40k

[126 rows x 2 columns]

## æå–salaryåˆ—ä»¥'25k'å¼€å¤´çš„è¡Œ

In [28]:
# æ–¹æ³•ä¸€ï¼šmatchå‡½æ•°
df[df['salary'].str.match('25k')]

# æ–¹æ³•äºŒï¼šstartswithå‡½æ•°
df[df['salary'].str.startswith('25k')]

             createTime education   salary  value
14  2020-03-15 12:14:45        æœ¬ç§‘  25k-35k     37
16  2020-03-16 10:36:57        æœ¬ç§‘  25k-50k      3
33  2020-03-16 11:04:00        æœ¬ç§‘  25k-35k     42
38  2020-03-16 11:01:58        ä¸é™  25k-35k     47
39  2020-03-16 11:35:36        æœ¬ç§‘  25k-35k     95
45  2020-03-16 11:01:58        ä¸é™  25k-35k     98
79  2020-03-16 11:30:10        æœ¬ç§‘  25k-40k      7
83  2020-03-16 10:43:49        æœ¬ç§‘  25k-35k     21
93  2020-03-16 10:44:41        æœ¬ç§‘  25k-35k     70
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k    100

> ğŸ””æœ¬èŠ‚çš„å†…å®¹åˆ°è¿™é‡Œå°±ç»“æŸäº†ï¼Œè¯·å‰å¾€ä¸‹ä¸€èŠ‚ï¼š5. pandas æ•°æ®å¤„ç†ã€åˆå¹¶ä¸åˆ†ç»„