# æ•°æ®å¤„ç†ã€åˆå¹¶ä¸åˆ†ç»„  

ğŸˆæœ¬èŠ‚ä¾ç„¶å…³æ³¨çš„æ˜¯æˆ‘ä»¬å¤„ç†æ•°æ®æ—¶æœ€å¸¸ç”¨åˆ°çš„ä¸€äº›æ“ä½œï¼Œæ¯”å¦‚ï¼š  
1. ç¼ºå¤±å€¼çš„å¤„ç†  
2. åˆå¹¶æ•°æ®é›†  
3. æ ¹æ®æŸä¸€ç§æ¡ä»¶è¿›è¡Œåˆ†ç»„ï¼Œå¹¶è¿›è¡Œæè¿°ç»Ÿè®¡  

æˆ‘ä»¬ä½¿ç”¨çš„ä¾ç„¶æ˜¯pandas120è¿™ä¸ªæ•°æ®é›†ï¼Œå®ƒåŒ…å«äº†è¢«è¯•çš„å­¦å†å’Œè–ªèµ„æ°´å¹³ç­‰ä¿¡æ¯

In [1]:
#å¯¼åŒ…
import pandas as pd
import numpy as np

In [2]:
# è¯»å–pandas120æ•°æ®æ–‡ä»¶
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k

In [3]:
# åœ¨æ•°æ®æ¡†ä¸­ç”Ÿæˆä¸€äº›ç¼ºå¤±å€¼
import random
df['value'] = [random.randint(1,100) for i in range(len(df))]
df.loc[[2,10,45,87], 'value'] = np.nan

# 1. ç¼ºå¤±å€¼å¤„ç†  
æ›´å¤šå†…å®¹å¯å‚è€ƒå®˜æ–¹æ–‡æ¡£ï¼šhttps://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

## 1.1 åˆ¤æ–­ç¼ºå¤±å€¼

In [4]:
# æ£€æŸ¥æ•°æ®ä¸­æ˜¯å¦å«æœ‰ä»»ä½•ç¼ºå¤±å€¼ï¼š
df.isnull().values.any()

True

In [5]:
# æŸ¥çœ‹æ¯åˆ—æ•°æ®ç¼ºå¤±å€¼ï¼š
df.isnull().sum(axis=0)

#è¡Œç¼ºå¤±å€¼
#df.isnull().sum(axis=1)

createTime    0
education     0
salary        0
value         4
dtype: int64

In [6]:
df.shape

(135, 4)

In [7]:
# æŸ¥çœ‹æ¯åˆ—éç¼ºå¤±å€¼æ•°ï¼š
df.notnull().sum()
df.shape[0] - df.isnull().sum()

createTime    135
education     135
salary        135
value         131
dtype: int64

**ç­›é€‰å‡ºå«ç¼ºå¤±å€¼çš„è¡Œåˆ—**

In [8]:
#æŸ¥çœ‹å„åˆ—æ˜¯å¦å­˜åœ¨ç©ºå€¼
df.isnull().any(axis=0)
#æŸ¥çœ‹å„è¡Œæ˜¯å¦å­˜åœ¨ç©ºå€¼
#df.isnull().any(axis=1)

createTime    False
education     False
salary        False
value          True
dtype: bool

In [9]:
# è¿”å›å«æœ‰ç¼ºå¤±å€¼çš„åˆ—
df.loc[:, df.isnull().any(axis=0)]

     value
0     97.0
1     18.0
2      NaN
3     35.0
4     44.0
..     ...
130   71.0
131    7.0
132    3.0
133   35.0
134  100.0

[135 rows x 1 columns]

In [10]:
# è¿”å›å«æœ‰ç¼ºå¤±å€¼çš„è¡Œ
df.loc[df.isnull().any(axis=1),:]

            createTime education   salary  value
2  2020-03-16 10:46:39        ä¸é™  20k-35k    NaN
10 2020-03-16 10:34:19        æœ¬ç§‘  15k-25k    NaN
45 2020-03-16 11:01:58        ä¸é™  25k-35k    NaN
87 2020-03-16 10:26:50        æœ¬ç§‘  10k-20k    NaN

## 1.2 ç¼ºå¤±å€¼å¡«å……  
https://zhuanlan.zhihu.com/p/473339132

In [11]:
# ç”¨ä¸Šä¸‹å¹³å‡å€¼å¡«å……valueåˆ—ï¼š
df['value'] = df['value'].fillna(df['value'].interpolate())
df.head()
# df  (æ³¨æ„èµ‹å€¼ï¼Œå¦‚æœä¸èµ‹å€¼ï¼ŒåŸå§‹åºåˆ—æœªæ”¹å˜)

           createTime education   salary  value
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k   97.0
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k   18.0
2 2020-03-16 10:46:39        ä¸é™  20k-35k   26.5
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k   35.0
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k   44.0

In [12]:
# å°†valueåˆ—ç¼ºå¤±å€¼å…¨éƒ¨æ›¿æ¢ä¸º1.0ï¼š
df.fillna(value =1.0, inplace = True)

## 1.3 æ›´æ”¹ç¼ºå¤±å€¼

In [13]:
# å°†valueåˆ—ç¬¬10è¡Œåˆ°13è¡Œè®¾ç½®ä¸ºç¼ºå¤±å€¼ï¼š
df.loc[9:12,'value'] = np.nan

# å°†ç¬¬ä¸‰è¡Œè®¾ç½®ä¸ºç¼ºå¤±å€¼ï¼š
df.loc[:2] = np.nan

## 1.4 åˆ é™¤ç¼ºå¤±å€¼

In [14]:
# åˆ é™¤æ‰€æœ‰å­˜åœ¨ç¼ºå¤±å€¼çš„è¡Œï¼š
df.dropna(axis=0, how='any', inplace=True)
# åˆ é™¤æ‰€æœ‰æœ‰ç¼ºå¤±å€¼çš„è¡Œ
df.dropna() # -- é»˜è®¤axis=0
# åˆ é™¤æ‰€æœ‰æœ‰ç¼ºå¤±å€¼çš„åˆ—
df.dropna(axis='columns')
df.dropna(axis=1)
# åˆ é™¤æ‰€æœ‰å€¼ç¼ºå¤±çš„è¡Œ
df.dropna(how='all')
# åˆ é™¤è‡³å°‘æœ‰ä¸¤ä¸ªéç¼ºå¤±å€¼çš„è¡Œ
df.dropna(thresh=2)
# æŒ‡å®šåˆ¤æ–­ç¼ºå¤±å€¼çš„åˆ—èŒƒå›´
df.dropna(subset=['education', 'value'])
# ä½¿åˆ é™¤å’Œçš„ç»“æœç”Ÿæ•ˆ
df.dropna(inplace=True)
# æŒ‡å®šåˆ—çš„ç¼ºå¤±å€¼åˆ é™¤
df.value.dropna()

3       35.0
4       44.0
5       97.0
6       95.0
7       49.0
       ...
130     71.0
131      7.0
132      3.0
133     35.0
134    100.0
Name: value, Length: 128, dtype: float64

# 2. æ•°æ®å»é‡

In [15]:
# drop_duplicates()
df.drop_duplicates(['createTime'])

             createTime education   salary  value
3   2020-03-16 10:45:44        æœ¬ç§‘  13k-20k   35.0
4   2020-03-16 10:20:41        æœ¬ç§‘  10k-20k   44.0
5   2020-03-16 10:33:48        æœ¬ç§‘  10k-18k   97.0
6   2020-03-16 10:11:54        ç¡•å£«  16k-30k   95.0
7   2020-03-16 09:49:12        æœ¬ç§‘  10k-15k   49.0
..                  ...       ...      ...    ...
128 2020-03-16 10:57:27        æœ¬ç§‘  15k-30k   76.0
129 2020-03-16 09:46:26        æœ¬ç§‘  15k-25k   15.0
130 2020-03-16 11:36:07        æœ¬ç§‘  10k-18k   71.0
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k    7.0
132 2020-03-16 10:48:32        æœ¬ç§‘  20k-40k    3.0

[97 rows x 4 columns]

# 3.  æ•°æ®åˆå¹¶  

æˆ‘ä»¬æ‰‹åŠ¨åˆ›å»ºä¸¤ä¸ªæ•°æ®æ¡†ï¼Œå’Œå‰ä¸€èŠ‚çš„æ•°æ®æ¡†ä¸€æ ·ï¼Œç¬¬ä¸€ä¸ªæ•°æ®é›†åŒ…æ‹¬è¢«è¯•çš„å§“åï¼Œå¹´é¾„ï¼Œå’Œå¿«ä¹å¾—åˆ†ï¼›  

ç¬¬äºŒä¸ªæ•°æ®æ¡†ä»æ˜¯å…³äºè¿™ä¸€æ‰¹è¢«è¯•çš„æ•°æ®ï¼ŒåŒ…å«äº†è¢«è¯•çš„å§“åï¼Œå·¥ä½œæ—¶é•¿ï¼Œå’Œæˆç»©ï¼›  

è‡ªç„¶åœ°ï¼Œæˆ‘ä»¬å¯ä»¥æ ¹æ®è¢«è¯•å§“åï¼Œå°†è¿™ä¸¤ä¸ªæ•°æ®æ¡†åˆåœ¨ä¸€èµ·ï¼Œå…±åŒåˆ†ææ•°æ®ã€‚  


å…³äºæ•°æ®åˆå¹¶çš„æ›´å¤šç”¨æ³•å¯å‚è€ƒï¼š  
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [16]:
# åˆ›å»ºä¸¤ä¸ªdataframe
data1 = {"subID":['tom', 'jerry', 'elsa', 'white', 'kim', 'greg', 'alice', 'yeri', 'mary', 'david'],
       "age":[26, 20, 26, 24, 22, 25, 28, 20, 30, 24], 
       "happiness":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}
data2 = {"subID":['tom', 'jerry', 'elsa', 'white', 'kim', 'greg', 'alice', 'yeri', 'mary', 'david'],
       "workhour":[8, 3, 10, 12, 12, 1, 3, 5, 7, 9],
       "grade":[90, 80, 70, 90, 84, 85, 75, 88, 98, 76]}

df_handy1 = pd.DataFrame(data1)
df_handy2 = pd.DataFrame(data2)

## 3.1 DataFrame.merge()  
- df = pd.merge(left, right, how = "inner",on = "None")  
- å‚æ•°ï¼š  
    - left: å·¦è¡¨ã€‚ä¹Ÿå°±æ˜¯ç¬¬ä¸€ä¸ªdfã€‚  
    - rightï¼šå³è¡¨ã€‚ä¹Ÿå°±æ˜¯ç¬¬äºŒä¸ªdfã€‚  
    - how: å’Œconcaté‡Œé¢çš„"join"ç±»ä¼¼ï¼Œè¡¨ç¤ºâ€œå¦‚ä½•åˆå¹¶ä¸¤è¡¨ã€‚  
        - 1ï¼‰left: åªä½¿ç”¨å·¦è¡¨çš„é”®ã€‚  
        - 2ï¼‰rightï¼šåªä½¿ç”¨å³è¡¨çš„é”®ã€‚  
        - 3ï¼‰inner: ä½¿ç”¨å·¦å³è¡¨é”®çš„äº¤é›†ã€‚  
        - 4ï¼‰outerï¼šä½¿ç”¨å·¦å³è¡¨é”®çš„å¹¶é›†ã€‚  
    - on: è¡¨ç¤ºæŒ‰ç…§å“ªä¸€ä¸ªé”®æ¥è¿›è¡Œåˆå¹¶ã€‚  
- ç±»ä¼¼äºå…³ç³»å‹æ•°æ®åº“çš„è¿æ¥æ–¹å¼ï¼Œå¯ä»¥æ ¹æ®ä¸€ä¸ªæˆ–å¤šä¸ªé”®å°†ä¸åŒçš„DatFrameè¿æ¥èµ·æ¥ã€‚è¯¥å‡½æ•°çš„å…¸å‹åº”ç”¨åœºæ™¯æ˜¯ï¼Œé’ˆå¯¹åŒä¸€ä¸ªä¸»é”®å­˜åœ¨ä¸¤å¼ ä¸åŒå­—æ®µçš„è¡¨ï¼Œæ ¹æ®ä¸»é”®æ•´åˆåˆ°ä¸€å¼ è¡¨é‡Œé¢ã€‚

In [17]:
# æŒ‰ç…§å•åˆ—åˆå¹¶æ•°æ®ï¼š
df = pd.merge(df_handy1, df_handy2, on='subID')
df

   subID  age  happiness  workhour  grade
0    tom   26          4         8     90
1  jerry   20          2         3     80
2   elsa   26          6        10     70
3  white   24          2        12     90
4    kim   22          1        12     84
5   greg   25          2         1     85
6  alice   28          2         3     75
7   yeri   20          3         5     88
8   mary   30          3         7     98
9  david   24          6         9     76

# 4. æè¿°ç»Ÿè®¡  

æ¥ä¸‹æ¥æˆ‘ä»¬å¯ä»¥å¯¹åˆšåˆšç”Ÿæˆçš„æ–°æ•°æ®é›†è¿›è¡Œæè¿°ç»Ÿè®¡  

æè¿°ç»Ÿè®¡çš„å…¶ä»–æ•™ç¨‹å¯å‚è€ƒï¼š  
https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html

## 4.1 å¯¹å•åˆ—è¿›è¡Œæè¿°ç»Ÿè®¡  

æ¯”å¦‚æˆ‘ä»¬å…³æ³¨çš„æ˜¯æˆç»©è¿™ä¸€åˆ—ï¼š

In [18]:
print('gradeåˆ—å‡å€¼:',df['grade'].mean()) # å‡å€¼
print('å…¨ä½“å¹³å‡æ•°:',df.mean().mean()) # å…¨ä½“å¹³å‡æ•°
print('gradeåˆ—ä¸­ä½æ•°:',df['grade'].median()) # ä¸­ä½æ•°
print('gradeåˆ—æ–¹å·®:',df['grade'].var()) # æ–¹å·®
print('gradeåˆ—æ ‡å‡†å·®:',df['grade'].std()) # æ ‡å‡†å·®
print('gradeåˆ—æœ€å¤§å€¼:',df['grade'].max()) # æœ€å¤§å€¼
print('gradeåˆ—æœ€å°å€¼:',df['grade'].min()) # æœ€å°å€¼

gradeåˆ—å‡å€¼: 83.6
å…¨ä½“å¹³å‡æ•°: 29.549999999999997
gradeåˆ—ä¸­ä½æ•°: 84.5
gradeåˆ—æ–¹å·®: 71.15555555555557
gradeåˆ—æ ‡å‡†å·®: 8.435375246872871
gradeåˆ—æœ€å¤§å€¼: 98
gradeåˆ—æœ€å°å€¼: 70

/tmp/ipykernel_196/352484928.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('å…¨ä½“å¹³å‡æ•°:',df.mean().mean()) # å…¨ä½“å¹³å‡æ•°

## 4.2 åŒæ—¶å¯¹å¤šåˆ—è¿›è¡Œæè¿°ç»Ÿè®¡  

æ¯”å¦‚æˆ‘ä»¬æƒ³åŒæ—¶å¯¹æˆç»©å’Œå·¥ä½œæ—¶é—´è¿›è¡Œæè¿°ç»Ÿè®¡ï¼Œå¯ä»¥ä½¿ç”¨ä»¥ä¸‹å‡ ç§æ–¹æ³•

In [19]:
# æ–¹æ³•ä¸€ï¼š
df[['grade', 'workhour']].agg([np.sum, np.mean, np.median, np.min, np.max, np.std, np.var])

             grade   workhour
sum     836.000000  70.000000
mean     83.600000   7.000000
median   84.500000   7.500000
min      70.000000   1.000000
max      98.000000  12.000000
std       8.435375   3.887301
var      71.155556  15.111111

In [20]:
# æ–¹æ³•äºŒï¼š
df[['grade', 'workhour']].agg(['sum', 'mean', 'median', 'min', 'max', 'std', 'var'])

             grade   workhour
sum     836.000000  70.000000
mean     83.600000   7.000000
median   84.500000   7.500000
min      70.000000   1.000000
max      98.000000  12.000000
std       8.435375   3.887301
var      71.155556  15.111111

## 4.3 å¯¹gradeåˆ—æ±‚å¹³å‡ï¼Œå¯¹workhouråˆ—æ±‚å’Œ

In [21]:
# æ–¹æ³•ä¸€ï¼šåˆ†å¼€å†æ±‡æ€»
grade_mean = df['grade'].mean()
workhour_sum = df['workhour'].sum()
grade_mean, workhour_sum

(83.6, 70)

In [22]:
# æ–¹æ³•äºŒï¼šagg()å‡½æ•°
df.agg({'grade' : np.mean, 'workhour' : np.sum})

grade       83.6
workhour    70.0
dtype: float64

## 4.4 ä½¿ç”¨ .describe()

In [23]:
df[['grade','workhour']].describe()

           grade   workhour
count  10.000000  10.000000
mean   83.600000   7.000000
std     8.435375   3.887301
min    70.000000   1.000000
25%    77.000000   3.500000
50%    84.500000   7.500000
75%    89.500000   9.750000
max    98.000000  12.000000

# 5. åˆ†ç»„è®¡ç®—  

- åœ¨å¤„ç†æ—¶ï¼Œæˆ‘ä»¬é€šå¸¸éœ€è¦æ ¹æ®æŸæ¡ä»¶è¿›è¡Œåˆ†ç»„è®¡ç®—ï¼Œæ¯”å¦‚è®¡ç®—ä¸åŒå¤„ç†æ¡ä»¶ä¸‹çš„å› å˜é‡å¹³å‡å€¼ã€‚åœ¨è¿™é‡Œæˆ‘ä»¬ä½¿ç”¨äº†ä¸€ä¸ªæ–°çš„æ•°æ®é›†â€œtitanicâ€ï¼Œä¸æ³°å¦å°¼å…‹å·äº‹ä»¶æœ‰å…³ã€‚  


- å‚è€ƒæ•™ç¨‹ï¼šhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [24]:
titanic = pd.read_csv("/home/mw/input/titanic/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 5.1 åˆ†ç»„åè¿ç®—

In [25]:
# ä»¥æ€§åˆ«åˆ†ç»„
titanic.groupby('Sex')

In [26]:
# æŸ¥çœ‹åˆ†ç»„æƒ…å†µ
titanic.groupby('Sex').groups

{'female': [1, 2, 3, 8, 9, 10, 11, 14, 15, 18, 19, 22, 24, 25, 28, 31, 32, 38, 39, 40, 41, 43, 44, 47, 49, 52, 53, 56, 58, 61, 66, 68, 71, 79, 82, 84, 85, 88, 98, 100, 106, 109, 111, 113, 114, 119, 123, 128, 132, 133, 136, 140, 141, 142, 147, 151, 156, 161, 166, 167, 172, 177, 180, 184, 186, 190, 192, 194, 195, 198, 199, 205, 208, 211, 215, 216, 218, 229, 230, 233, 235, 237, 240, 241, 246, 247, 251, 254, 255, 256, 257, 258, 259, 264, 268, 269, 272, 274, 275, 276, ...], 'male': [0, 4, 5, 6, 7, 12, 13, 16, 17, 20, 21, 23, 26, 27, 29, 30, 33, 34, 35, 36, 37, 42, 45, 46, 48, 50, 51, 54, 55, 57, 59, 60, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101, 102, 103, 104, 105, 107, 108, 110, 112, 115, 116, 117, 118, 120, 121, 122, 124, 125, 126, 127, 129, 130, 131, 134, 135, 137, 138, 139, 143, 144, 145, 146, 148, 149, 150, 152, 153, 154, 155, ...]}

In [27]:
# æŸ¥çœ‹åˆ†ç»„å†…å®¹
titanic.groupby('Sex').get_group("female")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [28]:
# æ ¹æ®æ€§åˆ«åˆ†ç»„åè®¡ç®—å¹´é¾„å¹³å‡å€¼
titanic.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

## 5.2 reset_index  
å½“ä½¿ç”¨ groupby åï¼ŒDataFrame ä¸­çš„åˆ—ç”¨äºåˆ†ç»„çš„åˆ—ä¼šæˆä¸ºç´¢å¼•çš„ä¸€éƒ¨åˆ†ã€‚é€šè¿‡ reset_index()ï¼Œè¿™äº›ç´¢å¼•ä¼šè¢«è¿˜åŸä¸ºæ™®é€šçš„åˆ—ï¼Œå¹¶ä¸”ä¼šé‡æ–°ç”Ÿæˆé»˜è®¤çš„æ•´æ•°ç´¢å¼•ã€‚

In [29]:
titanic.groupby("Sex")["Age"].mean().reset_index()

      Sex        Age
0  female  27.915709
1    male  30.726645

å¯¹æ¯”è¾“å‡ºç»“æœa ä¸ b  
å…³äºæ›´å¤šå¯¹ç´¢å¼•çš„ç†è§£å¯å‚ç…§ï¼šhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html

In [30]:
a = titanic.groupby("Sex")["Age"].mean()
print(a)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [31]:
b= titanic.groupby("Sex")["Age"].mean().reset_index()
print(b)

      Sex        Age
0  female  27.915709
1    male  30.726645