# é—¯å…³é¢˜3

## STEP1: å¯¼å…¥æ•°æ®ï¼ŒæŸ¥çœ‹æ•°æ®  
å¯¼å…¥æ•°æ®  

1. é—®é¢˜q1ï¼šæŸ¥çœ‹æ•°æ®é›†æœ‰å“ªäº›åˆ—ï¼Œå¹¶å­˜å…¥å˜é‡a1  
2. é—®é¢˜q2ï¼šæŸ¥çœ‹ååº”æ—¶(â€œrtâ€)è¿™ä¸€åˆ—ä¸­æ•°å€¼çš„ç±»å‹ï¼Œå¹¶å­˜å…¥å˜é‡a2  
3. é—®é¢˜q3ï¼šç»Ÿè®¡ååº”æ—¶(â€œrtâ€)è¿™ä¸€åˆ—åŒ…å«ç¼ºå¤±å€¼çš„ä¸ªæ•°ï¼Œå¹¶å­˜å…¥å˜é‡a3  
4. é—®é¢˜q4ï¼šç»Ÿè®¡ååº”æ—¶å¤§äº300ä¸”å°äº1000çš„è¡Œæ•°ï¼Œå¹¶å­˜å…¥å˜é‡a4

In [1]:
import pandas as pd

# ä»åä¸º "stroop.csv" çš„ CSV æ–‡ä»¶ä¸­è¯»å–æ•°æ®å¹¶å­˜å‚¨åœ¨ DataFrame ä¸­
df = pd.read_csv("/home/mw/input/84988498/stroop.csv")

# æ˜¾ç¤º DataFrame çš„å‰å‡ è¡Œæ•°æ®
df.head()

# è·å– DataFrame çš„åˆ—å
a1 = df.columns

# è·å– "rt" åˆ—çš„æ•°æ®ç±»å‹
a2 = df["rt"].dtype

# ç»Ÿè®¡ "rt" åˆ—ä¸­ç¼ºå¤±å€¼çš„æ•°é‡
a3 = df["rt"].isnull().sum()

# ç»Ÿè®¡ "rt" åˆ—ä¸­æ•°å€¼åœ¨ 300 åˆ° 1000 ä¹‹é—´çš„æ•°æ®æ•°é‡
a4 = ((df["rt"] >= 300) & (df["rt"] <= 1000)).sum()

## STEP2ï¼šå…ˆå¯¹è¢«è¯•çš„ååº”æ—¶è¿›è¡Œå¤„ç†  
1. åˆ é™¤æ‰€æœ‰çš„ç»ƒä¹ è¯•æ¬¡  
2. åˆ é™¤æœªè¿›è¡Œååº”çš„è¯•æ¬¡ï¼ˆè¢«è¯•æœªååº”çš„è¯•æ¬¡ä¸­ï¼Œrtè¢«èµ‹å€¼ä¸º-1ï¼‰  
3. åˆ é™¤ååº”é”™è¯¯çš„è¯•æ¬¡ï¼ˆè¢«è¯•é”™è¯¯ååº”çš„è¯•æ¬¡ä¸­ï¼Œcorrectè¢«èµ‹å€¼ä¸º0ï¼‰  
4. æŒ‰ç…§è¢«è¯•ã€æ¡ä»¶è¿›è¡Œåˆ†ç»„åï¼Œè®¡ç®—rtè¿™ä¸€åˆ—çš„å¹³å‡å€¼  
5. å°†è·å¾—çš„ç»“æœå­˜åœ¨ä¸€ä¸ªæ–°çš„æ•°æ®æ¡†(df_rt_mean)å†…

In [2]:
# æ ¹æ®æ¡ä»¶ç­›é€‰æ•°æ®ï¼šå®éªŒé˜¶æ®µä¸ä¸º "practice"ï¼Œrtå¤§äºç­‰äº 0ï¼Œä¸”æ­£ç¡®ç‡ä¸º 1 çš„æ•°æ®
df_rt_mean = df[(df["exp_stage"] != "practice") & (df["rt"] >= 0) & (df["correct"] == 1)]

# æŒ‰ç…§ "worker_id" å’Œ "condition" åˆ†ç»„ï¼Œå¹¶è®¡ç®—æ¯ç»„ä¸­ "rt" åˆ—çš„å¹³å‡å€¼
df_rt_mean = df_rt_mean.groupby(["worker_id", "condition"])["rt"].mean()

# é‡ç½®ç´¢å¼•ï¼Œå°†åˆ†ç»„ç»“æœè½¬æ¢ä¸º DataFrame
df_rt_mean = df_rt_mean.reset_index()

## STEP3ï¼šå¯¹è¢«è¯•çš„æ­£ç¡®ç‡è¿›è¡Œå¤„ç†  
1. åˆ é™¤æ‰€æœ‰çš„ç»ƒä¹ è¯•æ¬¡ï¼ˆæ³¨æ„ï¼šç›¸æ¯”äºååº”æ—¶ï¼Œæ­¤å¤„ä¸éœ€è¦åˆ é™¤è¢«è¯•æœªååº”å’Œé”™è¯¯ååº”çš„è¯•æ¬¡ï¼‰  
2. æŒ‰ç…§è¢«è¯•ã€æ¡ä»¶è¿›è¡Œåˆ†ç»„åï¼Œè®¡ç®—correctè¿™ä¸€åˆ—çš„å¹³å‡å€¼  
5. å°†è·å¾—çš„ç»“æœå­˜åœ¨ä¸€ä¸ªæ–°çš„æ•°æ®æ¡†(df_acc)å†…

In [3]:
# æ ¹æ®æ¡ä»¶ç­›é€‰æ•°æ®ï¼šå®éªŒé˜¶æ®µä¸ä¸º "practice" çš„æ•°æ®
df_acc = df[df["exp_stage"] != "practice"]

# æŒ‰ç…§ "worker_id" å’Œ "condition" åˆ†ç»„ï¼Œå¹¶è®¡ç®—æ¯ç»„ä¸­ "correct" åˆ—çš„å¹³å‡å€¼
df_acc = df_acc.groupby(["worker_id", "condition"])["correct"].mean()

# é‡ç½®ç´¢å¼•
df_acc = df_acc.reset_index()

## STEP4ï¼šåˆå¹¶ä¸¤ä¸ªæ•°æ®æ¡† df_rt_mean, df_acc

In [4]:
# å°† df_rt_mean å’Œ df_acc è¿›è¡Œæ‹¼æ¥ï¼Œinnerè¡¨ç¤ºæŒ‰ç…§ä¸¤ä¸ªæ•°æ®æ¡†å…±æœ‰çš„åˆ—è¿›è¡Œæ‹¼æ¥
df_rt_acc = pd.merge(df_rt_mean, df_acc, how="inner")

## STEP5ï¼šç»˜åˆ¶ååº”æ—¶çš„ç®±çº¿å›¾ä¸å¯†åº¦åˆ†å¸ƒå›¾  

1.ç»˜åˆ¶å‡ºä¸€è‡´æ¡ä»¶ä¸ä¸ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶åˆ†å¸ƒå¯†åº¦å›¾(density plot)  

2.åˆ†åˆ«ç»˜åˆ¶å‡ºä¸€è‡´æ¡ä»¶ä¸ä¸ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶ç®±çº¿å›¾(boxplot)  


æ ¹æ®å›¾åƒå†…å®¹å›ç­”ä»¥ä¸‹é—®é¢˜ï¼Œå°†é€‰æ‹©é¢˜ç­”æ¡ˆå¡«å…¥ä¸‹æ–¹ä»£ç cellä¸­å¯¹åº”çš„å˜é‡å†…ã€‚  

> **é—®é¢˜Q5: ä»å›¾åƒä¸Šçœ‹ï¼Œä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶åˆ†å¸ƒæ›´æ¥è¿‘ä»¥ä¸‹å“ªç§åˆ†å¸ƒ  
>A.å·¦ååˆ†å¸ƒ  
>B.å³ååˆ†å¸ƒ  
>C.è¿‘ä¼¼æ­£æ€åˆ†å¸ƒ**  
>*(æ³¨æ„ï¼šå¦‚æœä¸äº†è§£åæ€åˆ†å¸ƒå®šä¹‰ï¼Œè¯·å…ˆè‡ªè¡Œæœç´¢)*  


> **é—®é¢˜Q6ï¼šä»å›¾åƒä¸Šçœ‹ï¼Œä¸ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶åˆ†å¸ƒçš„ä¸­ä½æ•°åœ¨å“ªä¸ªèŒƒå›´å†…  
> A.600-700  
> B.700-800  
> C.800-900**

In [5]:
import seaborn as sns

sns.displot(df_rt_acc, x = 'rt', hue = 'condition', kind='kde')

In [6]:
sns.boxplot(df_rt_acc, x = 'condition', y = 'rt')

In [7]:
a5 = 'B'  # åœ¨''ä¸­é—´å¡«å†™ä½ çš„ Q5 é€‰é¡¹ï¼Œå®ç°æ•ˆæœå¦‚ a5 = 'A'
a6 = 'B'  # åœ¨''ä¸­é—´å¡«å†™ä½ çš„ Q6 é€‰é¡¹

## STEP6ï¼šå°†df_rt_accç”±é•¿æ•°æ®è½¬åŒ–ä¸ºå®½æ•°æ®   

1. å°†é•¿æ•°æ®è½¬åŒ–ä¸ºå®½æ•°æ®  
2. å¯¹æœ€åç”Ÿæˆçš„åˆ—åè¿›è¡Œé‡å‘½åï¼Œåˆ†åˆ«æ˜¯  
>* è¢«è¯•ç¼–å·ï¼š'worker_id',  
>* ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶å‡å€¼ï¼š'rt_congruent',  
>* ä¸ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶å‡å€¼ï¼š'rt_incongruent',  
>* ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶æ­£ç¡®ç‡ï¼š'acc_congruent',  
>* ä¸ä¸€è‡´æ¡ä»¶ä¸‹çš„ååº”æ—¶æ­£ç¡®ç‡ï¼š'acc_incongruent'  

3. æœ€åçš„æ•°æ®æ¡†ä»å­˜ä¸ºâ€œdf_rt_accâ€  
4. é€‰å–'acc_incongruent'åˆ— çš„æœ€å10è¡Œï¼Œå­˜å…¥å˜é‡**a7**

In [8]:
# å°† "worker_id" å’Œ "condition" è®¾ç½®ä¸ºç´¢å¼•åˆ—ï¼Œæ–¹ä¾¿åç»­ä½¿ç”¨unstack
df_rt_acc = df_rt_acc.set_index(keys=['worker_id', 'condition'])

# ä½¿ç”¨unstackå°†é•¿æ•°æ®è½¬åŒ–ä¸ºå®½æ•°æ®
# åœ¨unstackä¹‹åï¼Œ"worker_id" å’Œ "condition" åˆ—è¢«æ”¾ç½®åœ¨äº†å¤šå±‚ç´¢å¼•çš„æœ€å¤–å±‚ã€‚
# ä½¿ç”¨äº† reset_index()ï¼Œå°†è¿™ä¸¤åˆ—è¿˜åŸä¸º DataFrame çš„æ™®é€šåˆ—ï¼ŒåŒæ—¶é‡æ–°ç”Ÿæˆé»˜è®¤çš„æ•´æ•°ç´¢å¼•
df_rt_acc = df_rt_acc.unstack().reset_index()

# é‡æ–°å‘½ååˆ—åï¼Œæ›´å…·ä½“åœ°è¡¨ç¤ºæ•°æ®å«ä¹‰
df_rt_acc.columns = ['worker_id',
                     'rt_congruent',
                     'rt_incongruent',
                     'acc_congruent',
                     'acc_incongruent']

#ä¿ç•™ä¸¤ä½å°æ•°
df_rt_acc = df_rt_acc.round(2)

In [9]:
df_rt_acc

    worker_id  rt_congruent  rt_incongruent  acc_congruent  acc_incongruent
0        s001        692.05          821.67           0.88             0.81
1        s002        680.51          797.26           0.98             0.98
2        s003        578.54          667.33           1.00             0.96
3        s004        720.35          805.56           1.00             1.00
4        s005        555.31          596.48           1.00             1.00
..        ...           ...             ...            ...              ...
517      s554        621.15          838.48           0.98             0.88
518      s556        887.62         1062.39           0.94             0.96
519      s557        650.26          770.54           0.96             0.77
520      s559        677.36          876.78           0.98             0.85
521      s560        760.13          947.77           0.98             0.98

[522 rows x 5 columns]

In [10]:
a7 = df_rt_acc["acc_incongruent"].iloc[-10:]
a7

512    0.96
513    1.00
514    0.96
515    0.77
516    0.94
517    0.88
518    0.96
519    0.77
520    0.85
521    0.98
Name: acc_incongruent, dtype: float64

## STEP7ï¼šå°†ç»“æœä¿å­˜ä¸º csv æ–‡ä»¶  
ğŸ’¡ è¿™ä¸€æ­¥çš„ä»£ç ä½ æ— éœ€ä¿®æ”¹ï¼Œç›´æ¥è¿è¡Œå³å¯ã€‚

In [11]:
answer = pd.DataFrame({'id':[f"q{i}" for i in range(1,8)],
                        'answer':[a1.to_list(),
                                    a2,
                                    a3,
                                    a4,
                                    a5,
                                    a6,
                                    a7.to_list()]})

answer.to_csv("answer_3.csv", index=None)

In [12]:
answer

   id                                             answer
0  q1  [Unnamed: 0, battery_name, condition, correct,...
1  q2                                              int64
2  q3                                                  0
3  q4                                              53721
4  q5                                                  B
5  q6                                                  B
6  q7  [0.96, 1.0, 0.96, 0.77, 0.94, 0.88, 0.96, 0.77...